$colorPrimary: #DC3C33;
$colorSecondary: #24312D;
$colorTertiary: #f7f8f7;

$colorWhite: #F7F7F7;
$colorBlack: #242424;

$colorPrimary10: rgba($colorPrimary, 10%);
$colorPrimary20: rgba($colorPrimary, 20%);
$colorPrimary30: rgba($colorPrimary, 30%);
$colorPrimary40: rgba($colorPrimary, 40%);
$colorPrimary50: rgba($colorPrimary, 50%);
$colorPrimary60: rgba($colorPrimary, 60%);
$colorPrimary70: rgba($colorPrimary, 70%);
$colorPrimary80: rgba($colorPrimary, 80%);
$colorPrimary90: rgba($colorPrimary, 90%);

$colorSecondary10: rgba($colorSecondary, 10%);
$colorSecondary20: rgba($colorSecondary, 20%);
$colorSecondary30: rgba($colorSecondary, 30%);
$colorSecondary40: rgba($colorSecondary, 40%);
$colorSecondary50: rgba($colorSecondary, 50%);
$colorSecondary60: rgba($colorSecondary, 60%);
$colorSecondary70: rgba($colorSecondary, 70%);
$colorSecondary80: rgba($colorSecondary, 80%);
$colorSecondary90: rgba($colorSecondary, 90%);

$colorTertiary10: rgba($colorTertiary, 10%);
$colorTertiary20: rgba($colorTertiary, 20%);
$colorTertiary30: rgba($colorTertiary, 30%);
$colorTertiary40: rgba($colorTertiary, 40%);
$colorTertiary50: rgba($colorTertiary, 50%);
$colorTertiary60: rgba($colorTertiary, 60%);
$colorTertiary70: rgba($colorTertiary, 70%);
$colorTertiary80: rgba($colorTertiary, 80%);
$colorTertiary90: rgba($colorTertiary, 90%);