@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-16px, 2px);
  }
  40% {
    transform: translate(16px, -2px);
  }
  60% {
    transform: translate(-16px, 2px);
  }
  80% {
    transform: translate(16px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(10%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes opacity-0-to-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
button,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
}

.debug-black {
  border: 1px solid black;
}

.debug-blue {
  border: 1px solid blue;
}

.debug-brown {
  border: 1px solid brown;
}

.debug-green {
  border: 1px solid green;
}

.debug-gray {
  border: 1px solid gray;
}

.debug-orange {
  border: 1px solid orange;
}

.debug-pink {
  border: 1px solid pink;
}

.debug-purple {
  border: 1px solid purple;
}

.debug-red {
  border: 1px solid red;
}

.debug-yellow {
  border: 1px solid yellow;
}

.debug-white {
  border: 1px solid white;
}

.debug-fill-black {
  background-color: black;
}

.debug-fill-blue {
  background-color: blue;
}

.debug-fill-brown {
  background-color: brown;
}

.debug-fill-green {
  background-color: green;
}

.debug-fill-gray {
  background-color: gray;
}

.debug-fill-orange {
  background-color: orange;
}

.debug-fill-pink {
  background-color: pink;
}

.debug-fill-purple {
  background-color: purple;
}

.debug-fill-red {
  background-color: red;
}

.debug-fill-yellow {
  background-color: yellow;
}

.debug-fill-white {
  background-color: white;
}

/* Lato */
@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato-LightItalic";
  src: url("/fonts/lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular-Italic";
  src: url("/fonts/lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato-BoldItalic";
  src: url("/fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Black";
  src: url("/fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato-BlackItalic";
  src: url("/fonts/lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
* {
  font-family: "Lato-Regular", sans-serif;
}

body {
  background-color: #f7f8f7;
}

h1 {
  font-weight: 700;
  color: #DC3C33;
}

h2, label {
  font-weight: 500;
  font-size: 2.5em;
  color: #24312D;
}

h3 {
  font-weight: 400;
  font-size: 1.3em;
  color: #24312D;
}

p {
  font-weight: 300;
  color: #24312D;
}

.grid-container {
  display: grid;
  grid-template-areas: "spaceHeader spaceHeader" "playerMain playerMain" "dice dice" "game1 game2" "spaceGame spaceGame" "playerSecond playerSecond" "newGame newGame" "spaceFooter spaceFooter";
  grid-template-rows: 1em 1fr 2fr 1fr 2em 1fr 1fr 0.3fr;
  grid-gap: 1em;
}
.grid-new-game {
  grid-area: newGame;
  justify-self: center;
}

.grid-player-main {
  grid-area: playerMain;
  justify-self: center;
  text-align: center;
}

.grid-player-second {
  grid-area: playerSecond;
  justify-self: center;
  text-align: center;
}

.grid-dice {
  grid-area: dice;
  justify-self: center;
  align-self: center;
}

.player-main-current-score {
  grid-area: game1;
  justify-self: end;
}

.player-btn-actions {
  grid-area: game2;
  justify-self: start;
}

@media screen and (max-width: 999px) {
  .player-current-score.player-second-current-score {
    display: none;
  }
  .grid-player-second {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .grid-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "spaceHeader spaceHeader spaceHeader spaceHeader" "playerMain . . playerSecond" "playerMain dice dice playerSecond" "spaceGame spaceGame spaceGame spaceGame" "gameP1 btnAction btnAction gameP2" "spaceNewGame spaceNewGame spaceNewGame spaceNewGame" "newGame newGame newGame newGame" "spaceFooter spaceFooter spaceFooter spaceFooter";
    grid-template-rows: 1em 1fr 2fr 2em 1fr 1fr 1fr 1fr 0.3fr;
    grid-template-columns: 3fr 1fr 1fr 3fr;
  }
  .grid-player-main {
    align-self: center;
  }
  .grid-player-second {
    align-self: center;
  }
  .player-main-current-score {
    grid-area: gameP1;
    justify-self: center;
    align-self: center;
  }
  .player-btn-actions {
    grid-area: btnAction;
    justify-self: center;
  }
  .player-second-current-score {
    grid-area: gameP2;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (min-width: 1350px) {
  .grid-container {
    width: 70%;
  }
}
@media screen and (min-width: 1550px) {
  .grid-container {
    width: 60%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

main {
  font-size: clamp(14px, 1.5vmax, 20px);
  height: 90vh;
}

.body-alert {
  background: rgba(220, 60, 51, 0.6);
}

h1 img {
  height: 10vh;
  animation: slide-down 0.2s ease-in-out;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.6em;
  font-weight: 500;
  color: #24312D;
  border-bottom: solid 0.1em transparent;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color;
}
.btn-action:hover:after {
  width: 100%;
  left: 0;
}
.btn-action:after {
  content: "";
  pointer-events: none;
  bottom: -0.1em;
  left: 50%;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #DC3C33;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: width, left;
}
.btn-action img {
  height: 1.2em;
  margin-right: 0.3em;
  margin-bottom: 0.1em;
  animation-name: slide-up;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.btn-action span {
  animation-name: slide-left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.grid-dice {
  animation-name: scale-up;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

.btn-dice {
  width: clamp(100px, 10vmax, 200px);
  height: clamp(100px, 10vmax, 200px);
  transition: transform 0.1s;
}
.btn-dice:hover {
  transform: rotateZ(15deg);
  transition: transform 0.1s;
}

.btn-dice-shake {
  animation: shake 0.2s ease-in-out;
}

.btn-dice-icon {
  border-radius: 25px;
  background: #f7f8f7;
  box-shadow: 9px 9px 10px #edeaea, -9px -9px 10px #ffffff;
}

.disabled-button {
  pointer-events: none;
  cursor: default;
  color: rgba(36, 49, 45, 0.4);
}
.disabled-button .btn-icon {
  filter: grayscale(80%);
}

.grid-player h2 {
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.grid-player p {
  font-size: 5em;
  line-height: 0.7;
  color: #DC3C33;
  animation-name: slide-up;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.grid-player-main p {
  margin-top: 0.3em;
}

.player-global-score::after {
  content: "◉";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
  margin-bottom: 0.17em;
  font-size: 1em;
  color: transparent;
}

.player-turn::after {
  content: "◉";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
  margin-bottom: 0.17em;
  font-size: 1em;
  color: #DC3C33;
}

.player-current-score {
  display: inline-block;
  min-width: 8em;
  width: 30vmin;
  max-width: 45%;
  border-radius: 0.3rem;
  background-color: #DC3C33;
  text-align: center;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.player-current-score h3 {
  font-size: 1.7em;
  color: #f7f8f7;
}
.player-current-score p {
  font-size: 2.8em;
  color: #f7f8f7;
}

.player-main-current-score {
  animation-name: slide-right;
}

.player-second-current-score {
  animation-name: slide-left;
}

.player-btn-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 999px) {
  .grid-player-second h2 {
    animation-name: slide-left;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .grid-player-second p {
    font-size: 3em;
    color: #DC3C33;
    margin-left: 0.5em;
    animation-name: slide-right;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}
@media screen and (min-width: 1000px) {
  .player-btn-actions {
    align-items: center;
  }
  .grid-player-second p {
    margin-top: 0.3em;
  }
}

/*# sourceMappingURL=main.css.map */
