body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
}

.debug-black {
  border: 1px solid black;
}

.debug-blue {
  border: 1px solid blue;
}

.debug-brown {
  border: 1px solid brown;
}

.debug-green {
  border: 1px solid green;
}

.debug-gray {
  border: 1px solid gray;
}

.debug-orange {
  border: 1px solid orange;
}

.debug-pink {
  border: 1px solid pink;
}

.debug-purple {
  border: 1px solid purple;
}

.debug-red {
  border: 1px solid red;
}

.debug-yellow {
  border: 1px solid yellow;
}

.debug-white {
  border: 1px solid white;
}

.debug-fill-black {
  background-color: black;
}

.debug-fill-blue {
  background-color: blue;
}

.debug-fill-brown {
  background-color: brown;
}

.debug-fill-green {
  background-color: green;
}

.debug-fill-gray {
  background-color: gray;
}

.debug-fill-orange {
  background-color: orange;
}

.debug-fill-pink {
  background-color: pink;
}

.debug-fill-purple {
  background-color: purple;
}

.debug-fill-red {
  background-color: red;
}

.debug-fill-yellow {
  background-color: yellow;
}

.debug-fill-white {
  background-color: white;
}

/* Lato */
@font-face {
  font-family: "Lato-Light";
  src: url("fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato-LightItalic";
  src: url("fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular-Italic";
  src: url("fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato-BoldItalic";
  src: url("fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato-Black";
  src: url("fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato-BlackItalic";
  src: url("fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
* {
  font-family: "Lato-Regular", sans-serif;
}

h1 {
  font-weight: 900;
  color: #EB544C;
}

h2, label {
  font-weight: 700;
  font-size: 2em;
  color: #191515;
}

h3 {
  font-weight: 400;
  font-size: 1.3em;
  color: #191515;
}

p {
  font-weight: 300;
  color: #191515;
}

main {
  font-size: 2vmax;
}

@media screen and (min-width: 1000px) {
  main {
    font-size: 1vmax;
  }
}
h1 {
  font-size: 3.8vmax;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
  color: #191515;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-action img {
  height: 1.2em;
  margin-right: 0.3em;
}

.btn-dice {
  min-width: 100px;
  min-height: 100px;
  width: 8em;
  height: 8em;
}

.grid-player p {
  font-size: 4em;
  color: #EB544C;
}

.player-main-current-score {
  display: inline-block;
  width: 30vmax;
  border-radius: 0.3rem;
  background-color: #EB544C;
}
.player-main-current-score h3 {
  font-size: 2em;
  color: #F1F5F4;
}
.player-main-current-score p {
  font-size: 3em;
  color: #F1F5F4;
}

/*# sourceMappingURL=main.css.map */
