.grid-container {
  display: grid;
  grid-template-areas:
          "spaceHeader spaceHeader"
          "playerMain playerMain"
          "dice dice"
          "game game"
          "spaceGame spaceGame"
          "playerSecond playerSecond"
          "newGame newGame";
  grid-template-rows:
          1em  // spaceHeader
          1fr  // playerMain
          2fr  // dice
          1fr  // game
          2em  // spaceGame
          1fr  // playerSecond
          1fr; // newGame
  grid-gap: 1em;
}

.grid-new-game {
  grid-area: newGame;
  justify-self: center;
}

.grid-player-main {
  grid-area: playerMain;
  justify-self: center;
  text-align: center;
}

.grid-player-second {
  grid-area: playerSecond;
  justify-self: center;
  display: flex;
  align-items: center;
}

.grid-dice {
  grid-area: dice;
  justify-self: center;
  align-self: center;
}

.grid-game {
  grid-area: game;
  justify-self: center;
  display: flex;
  align-items: center;
}
