.grid-container {
  display: grid;
  grid-template-areas:
          "spaceHeader spaceHeader"
          "playerMain playerMain"
          "dice dice"
          "game1 game2"
          "spaceGame spaceGame"
          "playerSecond playerSecond"
          "newGame newGame"
          "spaceFooter spaceFooter";
  grid-template-rows:
          1em  // spaceHeader
          1fr  // playerMain
          2fr  // dice
          1fr  // game
          2em  // spaceGame
          1fr  // playerSecond
          1fr  // newGame
          0.3fr; // spaceFooter
  grid-gap: 1em;

  > * {
    //border: #24312D solid 1px;
  }
}

.grid-new-game {
  grid-area: newGame;
  justify-self: center;
}

.grid-player-main {
  grid-area: playerMain;
  justify-self: center;
  text-align: center;
}

.grid-player-second {
  grid-area: playerSecond;
  justify-self: center;
  text-align: center;
}

.grid-dice {
  grid-area: dice;
  justify-self: center;
  align-self: center;
}

.player-main-current-score {
  grid-area: game1;
  justify-self: end;
}

.player-btn-actions {
  grid-area: game2;
  justify-self: start;
}

@media screen and (max-width: 999px) {
  .player-current-score.player-second-current-score{
    display: none;
  }

  .grid-player-second {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1000px){
  .grid-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
          "spaceHeader spaceHeader spaceHeader spaceHeader"
          "playerMain . . playerSecond"
          "playerMain dice dice playerSecond"
          "spaceGame spaceGame spaceGame spaceGame"
          "gameP1 btnAction btnAction gameP2"
          "spaceNewGame spaceNewGame spaceNewGame spaceNewGame"
          "newGame newGame newGame newGame"
          "spaceFooter spaceFooter spaceFooter spaceFooter";
    grid-template-rows:
          1em  // spaceHeader
          1fr  // playerMain
          2fr  // dice
          2em  // spaceGame
          1fr  // game
          1fr  // playerSecond
          1fr  // spaceNewGame
          1fr  // newGame
          0.3fr; // spaceFooter
    grid-template-columns: 3fr 1fr 1fr 3fr;
  }

  .grid-player-main {
    align-self: center;
  }

  .grid-player-second {
    align-self: center;
  }

  .player-main-current-score {
    grid-area: gameP1;
    justify-self: center;
    align-self: center;
  }

  .player-btn-actions {
    grid-area: btnAction;
    justify-self: center;
  }

  .player-second-current-score {
    grid-area: gameP2;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (min-width: 1350px) {
  .grid-container {
    width: 70%;
  }
}
@media screen and (min-width: 1550px) {
  .grid-container {
    width: 60%;
  }
}
