.debug-black{ border: 1px solid black; }
.debug-blue{ border: 1px solid blue; }
.debug-brown{ border: 1px solid brown; }
.debug-green{ border: 1px solid green; }
.debug-gray{ border: 1px solid gray; }
.debug-orange{ border: 1px solid orange; }
.debug-pink{ border: 1px solid pink; }
.debug-purple{ border: 1px solid purple; }
.debug-red{ border: 1px solid red; }
.debug-yellow{ border: 1px solid yellow; }
.debug-white{ border: 1px solid white; }

.debug-fill-black{ background-color: black; }
.debug-fill-blue{ background-color: blue; }
.debug-fill-brown{ background-color: brown; }
.debug-fill-green{ background-color: green; }
.debug-fill-gray{ background-color: gray; }
.debug-fill-orange{ background-color: orange; }
.debug-fill-pink{ background-color: pink; }
.debug-fill-purple{ background-color: purple; }
.debug-fill-red{ background-color: red; }
.debug-fill-yellow{ background-color: yellow; }
.debug-fill-white{ background-color: white; }
