// Header
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


// Main
main {
  font-size: 2vmax;
  height: 90vh;
}

@media screen and (min-width: 1000px){
  main {
    font-size: 1vmax;
  }
}


// Title H1
h1 {
  text-align: center;
  font-size: 4.8vmax;
}


// Buttons
.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
  color: $colorSecondary;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.2em;
    margin-right: 0.3em;
  }
}

.btn-dice {
  min-width: 100px;
  min-height: 100px;
  width: 8em;
  height: 8em;
}

.btn-dice-icon {
  border-radius: 25px;
  background: $colorTertiary;
  box-shadow:  9px 9px 10px #edeaea, -9px -9px 10px #ffffff;
}


// Player
.grid-player {
  p{
    font-size: 5em;
    line-height: .7;
    color: $colorPrimary;
  }
}

.grid-player-second {
  h2 {
    font-weight: 300;
  }

  p{
    font-size: 2em;
    color: $colorPrimary;
    margin-left: 0.6em;
  }
}


// Grid game - Player current score
.player-main-current-score {
  display: inline-block;
  width: 30vmax;
  border-radius: $borderRadius;
  background-color: $colorPrimary;

  h3{
    font-size: 2em;
    color: $colorTertiary;
  }

  p{
    font-size: 3em;
    color: $colorTertiary;
  }
}
