// Header
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


// Main
main {
  font-size: 2vmax;
  height: 90vh;
}

@media screen and (min-width: 1000px){
  main {
    font-size: 1vmax;
  }
}


// Title H1 (Logo)
h1 {
  img {
    height: 10vh;
  }
}


// Buttons
.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.6em;
  font-weight: 500;
  color: $colorSecondary;
  border-bottom: solid .1em transparent;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color;

  &:hover:after {
    width: 100%;
    left: 0;
  }

  &:after {
    content: "";
    pointer-events: none;
    bottom: -.1em;
    left: 50%;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: $colorPrimary;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: width, left;
  }

  img {
    height: 1.2em;
    margin-right: 0.3em;
    margin-bottom: 0.1em;
  }
}

.btn-dice {
  width: 14vmax;
  height: 14vmax;
  transition: transform .1s;

  &:hover {
    transform: rotateZ(15deg);
    transition: transform .1s;
  }
}

.btn-dice-icon {
  border-radius: 25px;
  background: $colorTertiary;
  box-shadow:  9px 9px 10px #edeaea, -9px -9px 10px #ffffff;
}

.disabled-button {
  pointer-events: none;
  cursor: default;
  color: $colorSecondary40;

  .btn-icon {
    filter: grayscale(80%);
  }
}

@media screen and (min-width: 850px){
  .btn-dice {
    width: 8vmax;
    height: 8vmax;
  }
}


// Player
.grid-player {
  p{
    font-size: 5em;
    line-height: .7;
    color: $colorPrimary;
  }
}

.grid-player-main {
  p{
    margin-top: .3em;
  }
}

@media screen and (max-width: 999px){
  .grid-player-second {
    p{
      font-size: 3em;
      color: $colorPrimary;
      margin-left: 0.5em;
    }
  }
}
@media screen and (min-width: 1000px){
  .grid-player-second {
    p{
      margin-top: .3em;
    }
  }
}

.player-global-score::after {
  content: "◉";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
  margin-bottom: 0.17em;
  font-size: 1em;
  color: transparent;
} //TODO : A OPTIMISER !
.player-turn::after {
  content: "◉";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
  margin-bottom: 0.17em;
  font-size: 1em;
  color: $colorPrimary;
}


// Grid game - Player current score
.player-current-score {
  display: inline-block;
  min-width: 8em;
  width: 30vmin;
  max-width: 45%;
  border-radius: $borderRadius;
  background-color: $colorPrimary;
  text-align: center;

  h3{
    font-size: 1.7em;
    color: $colorTertiary;
  }

  p{
    font-size: 2.8em;
    color: $colorTertiary;
  }
}

.player-btn-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (min-width: 1000px){
  .player-btn-actions {
    align-items: center;
  }
}
