// Header
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


// Main
main {
  font-size: 2vmax;
  height: 90vh;
}

@media screen and (min-width: 1000px){
  main {
    font-size: 1vmax;
  }
}


// Title H1 (Logo)
h1 {
  img {
    height: 10vh;
  }
}


// Buttons
.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  font-weight: 500;
  color: $colorSecondary;

  img {
    height: 1.2em;
    margin-right: 0.3em;
  }
}

.btn-dice {
  width: 14vmax;
  height: 14vmax;
}

.btn-dice-icon {
  border-radius: 25px;
  background: $colorTertiary;
  box-shadow:  9px 9px 10px #edeaea, -9px -9px 10px #ffffff;
}

@media screen and (min-width: 850px){
  .btn-dice {
    width: 8vmax;
    height: 8vmax;
  }
}


// Player
.grid-player {
  p{
    font-size: 5em;
    line-height: .7;
    color: $colorPrimary;
  }
}

.grid-player-main {
  p{
    margin-top: .3em;
  }
}

.grid-player-second {
  p{
    font-size: 3em;
    color: $colorPrimary;
    margin-left: 0.5em;
  }
}


// Grid game - Player current score
.player-main-current-score {
  display: inline-block;
  width: 30vmin;
  max-width: 45%;
  margin-right: 2em;
  border-radius: $borderRadius;
  background-color: $colorPrimary;
  text-align: center;

  h3{
    font-size: 1.7em;
    color: $colorTertiary;
  }

  p{
    font-size: 2.8em;
    color: $colorTertiary;
  }
}

.player-main-current-score-btn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
